*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	background: #f0f0f0;
	height: auto;
	margin: 0;
	padding: 0;
	width: auto;
}

#wrapper {
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

#page {
	margin: 20px 0;
	width: 900px;
}

header {
	background: black;
	color: white;
	display: flex;
	justify-content: space-between;
	max-height: 64px;
	padding: 4px;
}

header h1 {
	align-items: center;
	display: flex;
	font-weight: 500;
	justify-content: center;
	margin: 0;
}

article {
	align-items: center;
	background: white;
	border: 3px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 240px;
	padding: 48px;
	overflow: hidden;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	border: none;
	border-radius: 0;
	cursor: inherit;
	font-size: inherit;
	line-height: inherit;
	outline: none;
	padding: 0;
	width: 100%;
}

select::-ms-expand {
  display: none;
}

select#social {
	border: 2px solid black;
	padding: 4px 12px;
	width: auto;
}

select option {
	text-align: center;
}

footer {
	display: flex;
	justify-content: space-around;
}

a {
	color: black;
}
